# Assignment : For Loops in Python
## Basic Loop Questions:

1. Print numbers from 1 to 20 using a for loop.
2. Calculate the sum of all odd numbers from 1 to 50 using a for loop.
3. Print the first 10 multiples of a given number using a for loop.
4. Find the factorial of a given number using a for loop.
5. Reverse a string using a for loop.*

#### The looping simplifies the complex problems into the easy ones. It enables to alter the flow of the program so that instead of writing the same code again and again, we can execute the same code for a finite number of times.

#### The for loop in Python is used to iterate over a sequence (like a list, tuple, or string) or other iterable objects. Iterating over a sequence means going through each element one by one

In [2]:
#1.

for i in range(1,21,1):
    print(i, end='')

1234567891011121314151617181920

In [1]:
#2.

sum_of_odds = 0

for i in range(1,51):
    if i%2!=0:
        sum_of_odds += i
print("Sum of odds number from 1 to 50 :",sum_of_odds)

Sum of odds number from 1 to 50 : 625

In [15]:
#3.

given_num = int(input("Enter the number"))

for i in range(1,11):
    print(given_num*i, end=' ')

Enter the number30
30 60 90 120 150 180 210 240 270 300

In [2]:
#4.

fac_num = int(input("Enter the number"))

if fac_num<0:
    print("Factorial is not defined for the negative values")
else:
    result = 1
    for i in range(1,fac_num+1):
        result *= i
    print(f" The factotial of number is : {result}")

Enter the number4
 The factotial of number is : 24

In [12]:
string = input("Enter the string here :")
reversed_string = ""

for i in range(len(string)-1,-1,-1):
    reversed_string += string[i]

print(f"reversed string is {reversed_string}")

Enter the string here :varuag
reversed string is gaurav

# Pattern-Based Questions:
6. Print the following right-angled triangle pattern using a for loop:

#### *
#### * *
#### * * *
#### * * * *
#### * * * * *

In [30]:
for i in range(1,6):
    result = ""
    for k in range(1,i+1):
        result = result + "*"
    print(result)

*
**
***
****
*****

7. *Print the following inverted triangle pattern using a for loop:

#### * * * * *
#### * * * *
#### * * *
#### * * 
#### *

In [54]:
for i in range(1,6):
    result = ""
    for j in range(1,7-i):
        result = result + "*"
    print(result)

*****
****
***
**
*

8. *Print the following pyramid pattern using a for loop :

#####   *
#####   **
#####  ***
##### ****
##### *****

In [85]:
for row in range(1,6):
    result = ""
    for i in range(5,row,-1):
        result = result + " "
    for j in range(1,row+1):
        result = result + " *"
    print(result)

     *
    * *
   * * *
  * * * *
 * * * * *

In [88]:
"""
9. *Print the following diamond pattern using a for loop:*

     *
    * *
   * * *
  * * * *
 * * * * * 
  * * * *
   * * *
    * *
     *
"""

'\n9. *Print the following diamond pattern using a for loop:*\n\n     *\n    * *\n   * * *\n  * * * *\n * * * * * \n  * * * *\n   * * *\n    * *\n     *\n'

In [9]:
for row in range(1,6):
    result = ""
    for i in range(5,row,-1):
        result = result + " "
    for j in range(1,row+1):
        result = result + " *"
    print(result)
for row1 in range(1,6):
    result1 = " "
    for k in range(1,row1):
        result1 = result1 + " "
    for l in range(5,row1,-1):
        result1 = result1 + " *"
    print(result1)

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [13]:
#10.Print the following number pattern using a for loop:*
#1
#1 2
#1 2 3
#1 2 3 4
#1 2 3 4 5

In [31]:
row = 5
for i in range(1,row+1,1):
    for j in range(1,i+1,1):
        print(j, end = ' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [27]:
#11.Print the following number pattern using a for loop:*
#1
#2 2
#3 3 3
#4 4 4 4
#5 5 5 5 5

In [76]:
for i in range(1,6):
    result = ""
    for j in range(1,i+1):
        result += str(i)
    print(result)

1
22
333
4444
55555

In [78]:
#12. Print the following hollow square pattern using a for loop:*
#   * * * * *
#   *       *
#   *       *
#   *       *
#   * * * * *

In [128]:
for row in range(1,6):
    print(" *", end="")
print()
for i in range(1,4):
    space = "    "
    print(" *", space, " *")
for row in range(1,6):
    print(" *", end="")
print()

 * * * * *
 *       *
 *       *
 *       *
 * * * * *

In [130]:
#13. Print the following checkerboard pattern using a for loop:

# * * * * *
#  * * * * *
# * * * * *
#  * * * * *
# * * * * *

In [159]:
n = 10  # Size of the checkerboard

for i in range(n):
    for j in range(n):
        if (i + j) % 2 == 0:
            print("*", end=" ")
        else:
            print("", end=" ")
    print()  # Move to the next line

*  *  *  *  *
 *  *  *  *  *
*  *  *  *  *
 *  *  *  *  *
*  *  *  *  *
 *  *  *  *  *
*  *  *  *  *
 *  *  *  *  *
*  *  *  *  *
 *  *  *  *  *

In [160]:
# 14. Print the following hollow pyramid pattern using a for loop:
#    *
#   * *
#  *   *
# *     *
#* * * * *

In [161]:
n = 5  # Number of rows

for i in range(1, n + 1):  # Loop to print each row
    print(" " * (n - i), end="")  # Print spaces before stars

    if i == 1 or i == n:  # If it's the first or last row
        print("* " * i)  # Print stars for the whole row
    else:
        print("*" + " " * (2 * i - 3) + "*")  # Print stars at edges with spaces in between

    *
   * *
  *   *
 *     *
* * * * *

In [162]:
#15. Print the following hourglass pattern using a for loop:*
# * * * * *
#  *     *
#   *   *
#    * *
#     *
#    * *
#   *   *
#  *     *
# * * * * *

In [190]:
n = 5

# Top half of the hourglass
for i in range(n):
    print(" " * i, end="")  # Print leading spaces
    
    if i == 0:
        print("* " * n)  # Print full row of stars
    else:
        print("*" + " " * (2 * (n - i) - 3) + "*")  # Print stars at edges with spaces

# Bottom half of the hourglass (excluding the middle row to avoid duplication)
for i in range(1, n):
    print(" " * (n - i - 1), end="")  # Print leading spaces

    if i == n - 1:
        print("* " * n)  # Print full row of stars
    else:
        print("*" + " " * (2 * i - 1) + "*")  # Print stars at edges with spaces

* * * * *
 *     *
  *   *
   * *
    **
   * *
  *   *
 *     *
* * * * *